html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: #f1edf7;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.65em;
  overflow: hidden;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: cover;
}

.page {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0 100px;
  overflow: scroll;
}

.page-content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-height: 80vh;
  margin: 10vh auto;
  padding: 0;
  background: linear-gradient(#9d2bf3, #5050f5);
  border-radius: 32px;
}

.header {
  float: left;
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 80vh;
  min-height: inherit;
  text-align: center;
  padding: 70px 30px 45px;
  overflow: auto;
}

.header-content {
  height: 281px;
  width: 270px;
}

.header-photo {
  position: relative;
  width: 180px;
  margin: 0 auto 30px;
  z-index: 1;
}

.header-photo img {
  max-width: 100%;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 300px;
}

.header-photo:after {
  position: absolute;
  opacity: 0.3;
  top: 7%;
  left: 7%;
  border-radius: 300px;
  content: "";
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: -1;
}

.header-titles h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin: 5px 0 7px;
  line-height: 1.2em;
}

.header-titles h4 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin: 5px 0;
  line-height: 1.2em;
}

.main-menu {
  position: absolute;
  padding: 15px 0;
  width: 70px;
  right: -90px;
  background-color: #fff;
  border-radius: 35px;
  z-index: 999;
  list-style: none;
  top: 0;
  -moz-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.15);
  font-size: 28px;
}

.main-menu li {
  padding: 18px 0;
}

.social-links {
  margin: 20px 0;
}

.social-links ul {
  list-style: none;
  padding: 0;
  line-height: normal;
}

.social-links ul li {
  display: inline-block;
}

.linkedin-in::before {
  content: "\eaca";
  font-family: "icomoon";
  vertical-align: middle;
  color: white;
  margin-right: 15px;
  font-size: 20px;
}

.github::before {
  content: "\eab0";
  font-family: "icomoon";
  vertical-align: middle;
  color: white;
  font-size: 20px;
}

.home::before {
  content: "\e900";
  font-family: "icomoon";
  vertical-align: middle;
  color: rgb(157, 43, 243);
}

.about-me::before {
  content: "\e971";
  font-family: "icomoon";
  vertical-align: middle;
  color: rgb(157, 43, 243);
}

.resume::before {
  content: "\e91f";
  font-family: "icomoon";
  vertical-align: middle;
  color: rgb(157, 43, 243);
}

.contact::before {
  content: "\e96c";
  font-family: "icomoon";
  vertical-align: middle;
  color: rgb(157, 43, 243);
}

.header-buttons {
  margin-top: 100px;
}

.header-buttons .btn-primary {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 12px 31.5px;
}

.header-buttons .btn-primary:hover {
  background-color: #fff;
  color: #5e2fd6;
  border-color: #fff;
}

.header .copyrights {
  color: #fff;
  width: 380px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 40px 15px 0px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.content-area {
  position: absolute;
  right: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  max-width: calc(100% - 380px);
}

.details-section {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 60px;
  overflow: hidden;
}

.row {
  width: 100%;
  position: relative;
  padding: 283px 0;
}

.title-block {
  position: relative;
  text-align: center;
}

.title-block h2 {
  font-size: 60px;
  line-height: 56px;
  margin: 0 0 10px;
  text-align: center;
  color: #222;
}

.title-block h3 {
  font-size: 21px;
  font-weight: normal;
  line-height: normal;
  margin: 20px 0 10px;
  text-align: center;
  color: #888888;
}

.page-me {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  min-height: 80vh;
  margin: 84vh auto;
  padding: 0;
  background: #fff;
  border-radius: 32px;
}
.intro {
  padding: 60px;
}

.page-title {
  display: inline-block;
  margin-bottom: 15px;
}

.page-title h2 {
  color: #5050f5;
  font-size: 32px;
}

.description {
  padding-right: 400px;
}

.location,
.hobby,
.volunteer {
  padding: 15px 60px;
}

.location h2,
.hobby h2,
.volunteer h2 {
  color: #5050f5;
  font-size: 21px;
  padding-bottom: 15px;
}

.add::before {
  content: "\e947";
  font-family: "icomoon";
  margin-right: 5px;
}

.coffee,
.game,
.vol {
  display: block;
  margin-bottom: 10px;
}

.coffee::before {
  content: "\e9a2";
  font-family: "icomoon";
  margin-right: 5px;
}

.game::before {
  content: "\e901";
  font-family: "icomoon";
  margin-right: 5px;
}

.vol::before {
  content: "\e9da";
  font-family: "icomoon";
  margin-right: 5px;
}

.vol-date::before {
  content: "\e953";
  font-family: "icomoon";
  margin-right: 5px;
}
